# --- Build and Binary Files ---
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.idb
*.sdf
*.cache
*.log

# --- Visual Studio Files ---
*.vcxproj*
*.sln
*.suo
*.user
*.opensdf
*.VC.db
/.vs/

# --- System Files ---
.DS_Store
Thumbs.db

# --- Git Files ---
.git/

# --- Optional ---
*.out
*.tmp
*.bak

# For further test_images, etc.

